<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <style type="text/css">
        #graph-container {
            border: solid bisque;
            top: 100pt;
            bottom: 20pt;
            left: 230pt;
            right: 40pt;
            position: absolute;
            float: right;
        }
    </style>
</head>

<body th:inline="text" style="margin-left: 30pt;">
<div class="header" style="margin-bottom: 2%">

    <div class="help">
        <a th:href="@{/help}">Довідка</a>
    </div>

    <form th:action="@{/dijkstra}" method="post">
        <label for="from">Назва початкової вершини</label>
        <input id="from" type="text" name="start"/>
        <br/>
        <label for="to">Назва кінцевої вершини</label>
        <input id="to" type="text" name="end" title=""/>
        <button type="submit">Знайти шлях</button>
    </form>

    <div class="answer" th:if="${answer}">
        <p>Шлях - [[${answer.pathStr}]]</p>
        <p>Відстань - [[${answer.distance}]]</p>
    </div>
    <p th:if="${error}">Помилка - [[${error}]]</p>
</div>
<br/>

<div class="main" style="width: 100%;">
    <div class="left-nav-menu" style="float: left;width: 40%">
        <div class="control-buttons">
            <div class="nodes">
                <form th:action="@{/nodes/add}" method="post">
                    <label for="add-name">Назва вершини</label>
                    <input id="add-name" type="text" name="name"/> <br/>
                    <button type="submit">Додати вершину</button>
                </form>

                <form th:action="@{/nodes/remove}" method="post">
                    <label for="rm-name">Назва вершини</label>
                    <input id="rm-name" type="text" name="name" title="Назва вершини"/> <br/>
                    <button type="submit">Видалити вершину</button>
                </form>
            </div>
            <br/>

            <div class="edges" style="border: medium black">
                <div class="create" style="border: solid black">
                    <form th:action="@{/edges/add}" method="post">
                        <label for="start">Назва початкової вершини</label>
                        <input id="start" type="text" name="start"/><br/>

                        <label for="end">Назва кінцевої вершини</label>
                        <input id="end" type="text" name="end"/><br/>


                        <label for="weight">Вага</label>
                        <input id="weight" type="text" name="weight"/><br/>
                        <button type="submit">Додати ребро</button>

                    </form>
                </div>
                <div class="remove" style="border: solid black">
                    <form th:action="@{/edges/remove}" method="post">
                        <label for="edge-name">Номер ребра</label>
                        <input id="edge-name" type="text" name="id"/><br/>
                        <button type="submit">Видалили ребро</button>
                    </form>
                </div>
            </div>

            <div class="clear">
                <form th:action="@{/clear}" method="post">
                    <button type="submit">Очистити граф</button>
                </form>
            </div>
        </div>
    </div>

    <div id="graph-container"></div>

</div>


<script src="sigma.min.js"></script>
<script src="sigma.parsers.json.min.js"></script>
<script src="settings.js"></script>
<script src="sigma.canvas.edges.labels.def.js"></script>
<script src="sigma.canvas.edges.labels.curve.js"></script>
<script src="sigma.canvas.edges.labels.curvedArrow.js"></script>
<script src="sigma.plugins.dragNodes.min.js"></script>

<script th:inline="javascript">
    //<![CDATA[

    var s = new sigma({
        graph: /*[[${graph}]]*/ '',
        renderer: {
            container: document.getElementById('graph-container'),
            type: 'canvas'
        },
        settings: {
            edgeLabelSize: 'fixed',
            defaultEdgeLabelSize: 14,
            mouseWheelEnabled: false,
            autoRescale: false
        }
    });

    var dragListener = sigma.plugins.dragNodes(s, s.renderers[0]);

    dragListener.bind('drop', function (event) {
        let node = event.data.node;
        post("/nodes/update", {
            "name": node.name,
            "x": node.x,
            "y": node.y
        })
    });


    function post(path, params) {
        var method = "post";

        // The rest of this code assumes you are not using a library.
        // It can be made less wordy if you use one.
        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);

        for (var key in params) {
            if (params.hasOwnProperty(key)) {
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", key);
                hiddenField.setAttribute("value", params[key]);

                form.appendChild(hiddenField);
            }
        }

        document.body.appendChild(form);
        form.submit();
    }

    //]]>
</script>
</body>
</html>